dist/app.exe
app.py
Calculadora RIPTE app.code-workspace
app.spec
build/
calculadora.ico
dist/app1.0.rar
dist/app1.1.rar
dist/calculadora_RIPTE.exe
icono-calculadora.jpg
Indemnizacion Juan Prueba.xlsx
